# Screens
hdmi=`xrandr | grep ' connected' | grep 'HDMI' | awk '{print $1}'`

if [ "$hdmi" = "HDMI-1-0" ]; then
  xrandr --output eDP-1 --mode 1920x1080 --pos 0x0 --rotate normal --output HDMI-1-0 --primary --mode 1680x1050 --pos 1920x0 --rotate normal &
fi

# Get every wallpaper name in a list and get a random number
# to select a random wallpaper from the list
WALLPAPERS=$HOME"/Pictures/wallpapers"
ALIST=( `ls -w1 $WALLPAPERS` )
RANGE=${#ALIST[@]}
let "number = $RANDOM % $RANGE"
FULL_PATH=$WALLPAPERS/${ALIST[$number]} 
nitrogen --head=0 --set-scaled --save $FULL_PATH && nitrogen --head=1 --set-scaled --save $FULL_PATH &

brightnessctl set 100% &
cbatticon -u 5 &
picom &
pcloud &
nm-applet &
