! special
*.foreground:   #acd2e0
*.background:   #090f11
*.cursorColor:  #acd2e0

! black
*.color0:       #11191b
*.color8:       #6ab79b

! red
*.color1:       #192225
*.color9:       #997cd2

! green
*.color2:       #273438
*.color10:      #a991dd

! yellow
*.color3:       #3b4c52
*.color11:      #bf6b98

! blue
*.color4:       #536a72
*.color12:      #578e9e

! magenta
*.color5:       #718f99
*.color13:      #577d88

! cyan
*.color6:       #94b9c6
*.color14:      #61a68c

! white
*.color7:       #d2e6ed
*.color15:      #5c917c


!! URxvt Appearance
URxvt.font: xft:Source Code Pro Medium:size=10
!!URxvt.boldFont: -*-Source Code Pro Medium-*
!!URxvt.italicFont: -*-Source Code Pro Medium-*
!!URxvt.boldItalicfont: -*-Source Code Pro Medium-*
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 32
URxvt.iso14755: false
URxvt.background: [95]#05050b
